<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 자주 사용하는 객체를 별칭 설정 -->
<!-- 	
	<typeAliases>
		<typeAlias type="mw.member.model" alias="memberDTO" /> 
	</typeAliases>
 -->	
	<!-- Mapper파일 Mapping -->
<!-- 	
	<mappers>
		<mapper resource="/sql/memberSQL.xml" />
	</mappers>
 -->	
</configuration>