<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 자주 사용하는 객체를 별칭 설정 -->
	
	<typeAliases>
		<typeAlias type="mw.main.model.MainDTO" alias="mainDTO"/> <!-- 메인 -->
		<typeAlias type="mw.member.model.MemberDTO" alias="memberDTO" /> <!-- 회원  -->
		<typeAlias type="mw.member.model.DeleteMemListDTO" alias="deleteMemListDTO"/><!--탈퇴회원 -->
		
		<typeAlias type="mw.email.model.EmailDTO" alias="emailDTO"/> <!-- 아이디/비번 찾기 -->
		
		<typeAlias type="mw.account_card.model.Card_imgDTO" alias="card_imgDTO"/> <!-- 카드이미지 -->
		<typeAlias type="mw.account_card.model.CardDTO" alias="cardDTO"/> <!-- 카드정보 -->
		<typeAlias type="mw.account_card.model.Account_cardDTO" alias="accountCardDTO"/> <!-- 카드/계좌 정보등록 -->
		
		<typeAlias type="mw.calendar.model.MwScheduleDTO" alias="mwscheduleDTO"/> <!-- 캘린더일정 -->
		
		<typeAlias type="mw.moneyio.model.MoneyioDTO" alias="moneyioDTO"/> <!-- 지출/수입 내역 -->
		<typeAlias type="mw.moneyio.model.NbreadDTO" alias="nbreadDTO"/> <!-- n빵 내역 -->
		<typeAlias type="mw.moneyio.model.My_cardDTO" alias="mycardDTO"/>
		
		<typeAlias type="mw.sense.model.SenseDTO" alias="senseDTO"/> <!-- 금융지식 -->
		<typeAlias type="mw.sense.model.SenseCategoryDTO" alias="sensecategoryDTO"/> <!-- 금융지식카테고리 -->
		<typeAlias type="mw.faqboard.model.FaqBoardDTO" alias="faqboardDTO"/><!--FAQ유저게시판 -->
		<typeAlias type="mw.faqboard.model.ReplyDTO" alias="replyDTO"/><!--FAQ유저게시판 댓글-->
		<typeAlias type="mw.faqboard.model.FaqMainBoardDTO" alias="faqmainboardDTO"/><!--FAQ유저게시판 메인-->
		
		
		<typeAlias type="mw.account_card.model.Reg_CardDTO" alias="reg_cardDTO"/> <!-- 카드정보등록 -->
		<typeAlias type="mw.account_card.model.Reg_AccountDTO" alias="reg_accountDTO"/><!-- 계좌정보등록 -->
		<typeAlias type="mw.account_card.model.MyCardImgDTO" alias="mycard_imgDTO"/><!-- 나의 카드 이미지 -->
		
		
	</typeAliases>
	
	<!-- Mapper파일 Mapping -->
	
	<mappers>
		<mapper resource="mw/sql/memberSQL.xml" /><!-- 회원  -->
		<mapper resource="mw/sql/account_cardSQL.xml" /><!-- 카드/계좌 -->
		<mapper resource="mw/sql/calendarSQL.xml" /> <!-- 캘린더일정 -->
		<mapper resource="mw/sql/moneyioSQL.xml" /> <!-- 지출/수입 내역 -->
		<mapper resource="mw/sql/senseSQL.xml" /> <!-- 금융지식 -->
		<mapper resource="mw/sql/faqboardSQL.xml" /> <!--F&A게시판 -->
		<mapper resource="mw/sql/emailSQL.xml"/><!-- 아이디/비번 찾기 -->
		<mapper resource="mw/sql/mainSQL.xml"/><!-- 메인 -->

	</mappers>
	
</configuration>